<div class="modal">
  <h2>Edit Trainer</h2>

  <form [formGroup]="trainerForm" (ngSubmit)="saveTrainer()">
    
    <div *ngFor="let field of formFields">
      <!-- Render text, email, password input types -->
      <div *ngIf="field.type !== 'radio'">
        <label for="{{field.id}}">{{field.label}}</label>
        <input 
          type="{{field.type}}" 
          [formControlName]="field.id" 
          [required]="field.required" />
        
        <!-- Display error message -->
        <div *ngIf="trainerForm.get(field.id)?.invalid && trainerForm.get(field.id)?.touched" class="error">
          {{field.errorMessage}}
        </div>
      </div>

      <!-- Special handling for radio buttons -->
      <div *ngIf="field.type === 'radio'">
        <label>{{field.label}}</label>
        <div *ngFor="let option of field.options">
          <input 
            type="radio" 
            [id]="option" 
            [formControlName]="field.id" 
            [value]="option" 
            [required]="field.required" />
          <label for="{{option}}">{{option}}</label>
        </div>
        <div *ngIf="trainerForm.get(field.id)?.invalid && trainerForm.get(field.id)?.touched" class="error">
          {{field.errorMessage}}
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="trainerForm.invalid">Save Changes</button>
  </form>
</div>
