<div class="form-container">
  <h2>Add Trainee</h2>
  <form [formGroup]="addTraineeForm" (ngSubmit)="onSubmit()">
    
    <div *ngFor="let field of formFields">
      <div>
        <label for="{{field.id}}">{{field.label}}</label>
        <input 
          type="{{field.type}}" 
          [formControlName]="field.id" 
          [required]="field.required" />
        
        <!-- Display error message -->
        <div *ngIf="addTraineeForm.get(field.id)?.invalid && addTraineeForm.get(field.id)?.touched" class="error">
          {{field.errormessage}}
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="addTraineeForm.invalid">Add Trainee</button>
  </form>
</div>
