<div class="form-container">
  <h2>Login</h2>

  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit()">
    <label for="username">Email:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required #usernameField="ngModel">
    <div *ngIf="usernameField.invalid && usernameField.touched" class="error">Username is required</div>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required minlength="6" #passwordField="ngModel">
    <div *ngIf="passwordField.invalid && passwordField.touched" class="error">Password is required and must be at least 6 characters</div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div class="signup-container">
    <span>New user?</span>
    <button routerLink="/signup" class="g1">Sign Up</button>
  </div>
</div>
