<div class="test-container">
    <h1>Take Test</h1>
  
    <div *ngIf="currentExam; else loading">
      <div class="question">
        <h3>{{ currentExam?.questions[currentQuestionIndex]?.question }}</h3>
        <div *ngFor="let option of currentExam?.questions[currentQuestionIndex]?.options; let i = index">
          <input type="radio" name="answer" [value]="option.option" id="option{{i}}">
          <label for="option{{i}}">{{ option.option }}</label><br>
        </div>
      </div>
  
      <div class="buttons">
        <button (click)="nextQuestion()">Next Question</button>
        <button *ngIf="currentQuestionIndex === currentExam?.questions.length - 1" (click)="nextExam()">Next Exam</button>
        <button *ngIf="currentExamIndex === exams.length - 1" (click)="submitTest()">Submit Test</button>
      </div>
    </div>
  
    <ng-template #loading>
      <p>Loading exams...</p>
    </ng-template>
  </div>
  