<div class="form-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    
    <div *ngFor="let values of formFields">
      <label for="{{values.id}}">{{values.label}}</label>
      <input
        type="{{values.type}}"
        id="{{values.id}}"
        formControlName="{{values.id}}"
        [required]="values.required"
      />
      <div
        *ngIf="loginForm.get(values.id)?.invalid && loginForm.get(values.id)?.touched"
        class="error"
      >
        {{ values.errormessage }}
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div class="signup-container">
    <span>New user?</span>
    <button routerLink="/signup" class="g1">Sign Up</button>
  </div>
</div>
