<h2>{{ isEditMode ? 'Edit Trainer' : 'Add Trainer' }}</h2>
 
<form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of formFields">
    <label [for]="field.id">{{ field.label }}</label>
    <input
      [type]="field.type"
      [formControlName]="field.id"
      [id]="field.id"
      [required]="field.required"
    />
    <div *ngIf="trainerForm.get(field.id)?.invalid && trainerForm.get(field.id)?.touched">
      <span class="error-message">{{ field.errormessage }}</span>
    </div>
  </div>
 
  <button type="submit" [disabled]="trainerForm.invalid">
    {{ isEditMode ? 'Save Changes' : 'Add Trainer' }}
  </button>
</form>
 
 