<div class="form-container">
  <h2>Sign Up</h2>

  <form [formGroup]="signupForm" (ngSubmit)="onSignUpSubmit()">
    <!-- Role Selection -->
    <label for="role">Select Role:</label>
    <select id="role" formControlName="role" (change)="onRoleChange()" required>
      <option value="">Select Role</option>
      <option value="trainer">Trainer</option>
      <option value="trainee">Trainee</option>
      <option value="admin">Admin</option>
    </select>
    <div *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched" class="error">
      Role is required
    </div>

    <!-- Common Form Fields -->
    <div *ngFor="let field of formFields">
      <label for="{{field.id}}">{{field.label}}</label>
      <input
        *ngIf="field.type !== 'radio'"
        type="{{field.type}}"
        id="{{field.id}}"
        formControlName="{{field.id}}"
        [required]="field.required"
      />
      <div *ngIf="isInvalid(field.id)" class="error">
        {{ field.errormessage }}
      </div>
    </div>

    <!-- Specialization for Trainers (Radio buttons) -->
    <div *ngIf="signupForm.get('role')?.value === 'trainer'">
      <!-- This ensures specialization only appears when role is 'trainer' -->
      <label for="specialization">Specialization:</label>
      <div class="radio-options">
        <label *ngFor="let option of specializationOptions">
          <input
            type="radio"
            id="{{option.value}}"
            formControlName="specialization"
            [value]="option.value"
          />
          {{ option.label }}
        </label>
      </div>
      <div *ngIf="isInvalid('specialization')" class="error">
        Specialization is required.
      </div>
    </div>

    <!-- Role-Specific Fields -->
    <div *ngFor="let roleField of roleFields">
      <div *ngIf="signupForm.get('role')?.value === roleField.role">
        <div *ngFor="let field of roleField.fields">
          <label for="{{field.id}}">{{field.label}}</label>
          <input
            *ngIf="field.type !== 'radio'"
            type="{{field.type}}"
            id="{{field.id}}"
            formControlName="{{field.id}}"
            [required]="field.required"
          />
          <div *ngIf="isInvalid(field.id)" class="error">
            {{ field.errormessage }}
          </div>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Submit</button>

    <!-- Text for existing users to navigate to login -->
    <div class="already-user">
      <span>Already a user?</span>
      <button routerLink="/login" class="g1">Login</button>
    </div>
  </form>
</div>
